$aos-distance: 20px;
@import 'node_modules/aos/src/sass/aos.scss';

html, body, #root {
  font-size: 10px;
  position: relative;
}

::selection {
  background: #87FFA9;
}

* {
  -webkit-font-smoothing: antialiased;
}

.alternative-font {
  font-family: Staatliches;
}

.softikon-dot {
  display: inline-block;
  color: lightcoral;
  animation: blink 1000ms steps(5, start) infinite;
  font-weight: 800;
}

.outlined {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.outlined.white {
  -webkit-text-stroke-color: #fff;
}

.section-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

[data-animate="slideScaleLeft"] {
  transform: scaleX(0.01);
  transition: transform 0.9s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform-origin: left;
  will-change: transform;    
}

[data-animate="slideScaleLeft"].animate {
  transform: scaleX(1);
}

[data-animate="clipSlideLeft"] {
  transition: clip-path 0.9s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

[data-animate="clipSlideLeft"]:not(.animate) {
  clip-path: inset(0 100% 0 0) !important;
  will-change: clip-path;
}

.section-bg.light {
  background-color: #f5f5f5;
}

.section-bg.black {
  background-color: #111;
}

.gradient-green {
  background: linear-gradient(180deg, #24ca7a 0%,#29d8ac 100%);
}

.gradient-cool {
  background-image: radial-gradient( circle farthest-corner at -3.1% -4.3%,  rgba(57,255,186,1) 0%, rgba(21,38,82,1) 90% );
}

.gradient-red {
  background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
}

h1 {
  font-size: 5rem;
  position: relative;
  line-height: 1.1em;
  font-weight: 700;
}

h1.h1--sub {
  font-size: calc(10/12 * 20vw);
  line-height: 1em;
}

@media (min-width: 768px) {
  h1 {
    font-size: 6rem;
  }

  h1.h1--sub {
    font-size: calc(10/12 * 14vw);
    line-height: 1em;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 9rem;
  }
}


@media (min-width: 1280px) {
  h1 {
    font-size: 10.5rem;
  }
}

h2 {
  @apply tracking-tight;
  font-size: 4rem;
  line-height: 1.15em;
  font-weight: 700;
  position: relative;
}

@media (min-width: 1280px) {
  h2 {
    font-size: 8rem;
  }
}

h3 {
  @apply tracking-tight;
  font-size: 2.45rem;
  line-height: 1.25em;
  font-weight: 500;
  position: relative;
}

@media (min-width: 1024px) {
  h3 {
    font-size: 4.2rem;
  }
}

.arrow {
  width: 60px;
}

.arrow path {
  stroke: #111;
  fill: transparent;
  stroke-width: 1px;
}

@keyframes rotate {
  0% {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg)
  }
}

@keyframes fx-in {
  0% {
      width:101.5%;
      height:100%;
      transform: translateX(-100px) scaleX(0) skewX(80deg);
      transform-origin:left;
  }
  50% {
      transform: translateX(0) scaleX(1) skewX(0);
      transform-origin: left;
  }
  50.1% { 
      transform: translateX(0) scaleX(1);
      transform-origin: right;
  }
  to {
      width:101.5%;
      height:100%;
      transform: translateX(0) scaleX(0);
      transform-origin: right;
  }
}

@keyframes fx-out {
  0% {
      width:101.5%;
      height:100%;
      transform: scaleX(0);
      transform-origin: right;
  }
  50% {
      transform: scaleX(1);
      transform-origin: right;
  }
  50.1% {
      transform: scaleX(1) scaleY(1);
      transform-origin: bottom;
  }
  to {
      width:101.5%;
      height:100%;
      transform: scaleX(1) scaleY(0);
      transform-origin: bottom;
  }
}  

#scrollContainer {
  overflow-x: hidden;    
}

#logo {
  text-decoration: none;
  color: #000;
  transition: all .4s;
}
.softikon {
  width: 100%;
  flex-direction: row;
}
.softikon > span {
  margin: 0 auto;
  font-weight: 700;
  line-height: 1.5rem;
}

@media (min-width: 1224px) {
  .softikon {
    flex-direction: column-reverse;
    padding-top: 2rem;
    transition: opacity 0.4s;
  }
  .softikon > span {
    animation: rotate-90 1s forwards ease;
  }

  .softikon.hide {
    opacity: 0;    
  }
}

@keyframes rotate-90 {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(-90deg);
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}